{
  "root": true,
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "customSyntax": "postcss-less",
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["node_modules/**/*"]
}
